<html>
<body>
      				{% if greeting.user %}
        				{{ greeting.user.email }}
          				{% if user and user.user_id() == greeting.user.identity %} 
          					(You)
          				{% endif %}
        				
      				{% else %}
       					An anonymous person
      				{% endif %}
					
					wrote : <a href="javascript:VoteUp('{{greeting.key.id()}}');">Like</a>:
						<span class="voteCount">{{greeting.vote_count}}</span> 
						<br>
      				{% if greeting.avatar %}
      					<img src="/img/{{greeting.avatar}}" width="480px"></img></div>
      				{% endif %}
      				<blockquote>{{ greeting.content }}</blockquote>
      				</body>
      				</html>