<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<base href="/">
		<meta http-equiv = "Content-Type" content="text/html; charset=utf-8">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
	</head>
	<body>
		<a href="{{ url|safe }}">{{ url_linktext }}</a>
		<hr>
		<div>
			Select Category
			<form>
				<input type="submit" value="default" name="guestbook_name">
				<input type="submit" value="milk" name="guestbook_name">
				<input type="submit" value="toy" name="guestbook_name">
			</form>
  		</div>
  		<hr>
  				Current Catecory : {{guestbook_name}}
  		<div>
      		
    			{% for greeting in greetings %}
    			<p>
      				{% if greeting.user %}
        				{{ greeting.user.email }}
          				{% if user and user.user_id() == greeting.user.identity %} 
          					(You)
          				{% endif %}
        				
      				{% else %}
       					An anonymous person
      				{% endif %}
					
					wrote : <a href="javascript:VoteUp('{{greeting.key.id()}}');">Like</a>:
						<span class="voteCount{{greeting.key.id()}}">{{greeting.vote_count}}</span> 
						<br>
      				{% if greeting.avatar %}
      					<img src="/img/{{greeting.avatar}}" width="480px"></img></div>
      				{% endif %}
      				<blockquote>{{ greeting.content }}</blockquote>
      				</p>
    			{% endfor %}
		</div>
		<hr>
    	<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
      		<div><textarea name="content" rows="3" cols="60"></textarea></div>
      		<div><input type="file" name='img' value="load image">
      			<input type="submit" value="Upload"></div>
    	</form>
    
  </body>
</html>
{% endautoescape %}